# Shared defaults for local Docker MongoDB and EC2 Docker MongoDB.
# Do not put real secrets in this file.
AWS_REGION=ap-southeast-2
PROJECT_BUCKET=s3://glamira-data-lake-20260611
RAW_MONGODB_DUMP_URI=s3://glamira-data-lake-20260611/raw/source=mongodb_dump/dataset=glamira_countly/dump/
PRODUCT_INFORMATION_PREFIX=s3://glamira-data-lake-20260611/product-information/
IP2LOCATION_DB_URI=s3://glamira-data-lake-20260611/raw/reference/ip2location/IP-COUNTRY-REGION-CITY.BIN

MONGO_URI=mongodb://localhost:27017
MONGODB_CONTAINER_NAME=mongo-explore
GLAMIRA_FALLBACK_DOMAINS=www.glamira.com.au,www.glamira.com,www.glamira.co.uk,www.glamira.ca,www.glamira.ie,www.glamira.de,www.glamira.fr,www.glamira.it,www.glamira.pl,www.glamira.vn
IP_LOCATION_TARGET_DB=countly_enriched
IP_LOCATION_TARGET_COLLECTION=ip_locations

# Sample-first defaults. Switch to countly.summary for the full run.
MONGO_DATABASE=countly_samples
MONGO_COLLECTION=summary_random_100000
OUTPUT_DIRECTORY=outputs/local-test
